<div style="margin-top: 10vh; width: 40%;
  margin-left : auto; margin-right: auto">
  <div *ngIf="submiterror && dangerBox" class="alert alert-danger" role="alert">
    <small class="text-danger" >{{submiterror.error.message}}</small>
    <button style="color: #ff0b00; background-color: transparent" type="button" class="close" aria-label="Close" (click)="dangerBox = false">
      <span>&times;</span>
    </button>
  </div>
  <div *ngIf="submitmsg && successBox" class="alert alert-success" role="alert">
    <small class="text-success" >{{submitmsg}}</small>
    <button style="color: green; background-color: transparent" type="button" class="close" aria-label="Close" (click)="successBox = false">
      <span>&times;</span>
    </button>
  </div>
  <form name="form" #chpwdform="ngForm" (ngSubmit)="submit(chpwdform)">
    <h2 style="text-align: center">Change Password</h2>
    <div class="form-group" >
      <label for="pwd"><span>Current Password </span><span class="text-danger" >*</span></label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" [(ngModel)]="pwdDetails.currPassword" name="passwordinput" required #password="ngModel"
             [class.is-invalid]="password.invalid && submitattempt">
      <small *ngIf="password.invalid && submitattempt" class="text-danger">Current password is required field</small>
    </div>
    <div class="form-group" >
      <label for="newpwd"><span>New Password </span><span class="text-danger" >*</span></label>
      <input type="password" class="form-control" id="newpwd" placeholder="Enter password" [(ngModel)]="pwdDetails.newPassword" name="newpasswordinput" required #newpassword="ngModel"
             [class.is-invalid]="newpassword.invalid && submitattempt">
      <small *ngIf="newpassword.invalid && submitattempt" class="text-danger">New password is required field</small>
    </div>
    <div class="form-group" >
      <label for="pwdconf">Confirm New Password</label>
      <input type="password" class="form-control" id="pwdconf" placeholder="Enter password confirm" [(ngModel)]="pwdDetails.passwordConfirm" name="passwordconfirminput" required #passwordconf="ngModel"
             [class.is-invalid]="submitattempt && (pwdDetails.passwordConfirm || pwdDetails.newPassword) && pwdDetails.newPassword !== pwdDetails.passwordConfirm">
      <small *ngIf="submitattempt && (pwdDetails.passwordConfirm || pwdDetails.newPassword) && pwdDetails.newPassword !== pwdDetails.passwordConfirm" class="text-danger">Passwords do not match</small>

    </div>
    <div>
      <button  [disabled]="loading" type="submit" class="btn btn-default">Submit</button>
      <div  *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></div>
    </div>
  </form>
</div>
