<div id="departments"  *ngIf="departments">
  <pagination-controls style="display: block;" *ngIf="departments && departments.length > 10"  id="deplist" (pageChange)="page = $event"></pagination-controls>
  <div class="grid-container"  *ngFor="let department of departments  | paginate: { id: 'deplist',
                                                      itemsPerPage: 10,
                                                      currentPage: page,
                                                      totalItems: departments.length }">
    <div class="photo">
      <img *ngIf="department.mainPhoto" height="250px" width="400px" [src]="displayMainPhoto(department)">
    </div>
    <div class="name"><a (click)="redirectToDetails(department)">{{department.name| titlecase}}</a></div>
    <div class="cost">{{findCost(department)}} €</div>
    <div style="position:relative;bottom: 28%; font-size: 33px" class="reviews">
      <i style="color: gold; font-size: 28px" class="fa fa-star" aria-hidden="true"></i> <small> {{department.averageRating.toFixed(1)}}<span style="color: lightgrey;font-size: 20px">/5 </span> </small>
      <small style="display: block;font-size:small ">Total reviews: {{department.numberOfReviews}}</small>
    </div>
    <div class="type"><small style="font-size: 20px"><i class="fa fa-bed" aria-hidden="true"></i> {{department.numberOfBeds}}<br><i class="fa fa-building" aria-hidden="true"></i> {{Type(department) | lowercase}}</small></div>
    <div class="link"><button (click)="redirectToDetails(department)" type="button" class="btn btn-default" style="width:max-content">Show details</button></div>
  </div>
  <pagination-controls  *ngIf="departments && departments.length > 10"  id="deplist" (pageChange)="page = $event"></pagination-controls>
</div>

